:root {
    --header-font: 'Josefin Slab', serif;
    --primary-font: 'Hedvig Letters Sans',sans-serif;
    --condensed-font: 'Stint Ultra Condensed', serif;
}

h1 {
    font-family: var(--header-font);
    font-size: 48px;
}

p {
    font-family: var(--primary-font);
    font-size: 20px;
}