:root {
    --header-font: 'Josefin Slab', serif;
    --primary-font: 'Hedvig Letters Sans',sans-serif;
    --condensed-font: 'Stint Ultra Condensed', serif;
}

body {
    background-color: #5A7A8F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

p {
    font-family: var(--primary-font);
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.btn {
    display: block;
    background-color: #5A7A8F;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    padding: 16px;
    margin: 10px auto;
    border-radius: 4px;
    font-family: var(--primary-font);
    text-decoration: none;
}
.text-center {
    text-align: center;
}

main {
    background-color: white;
}

.kaiser {
    height: 450px;
}

.kaiser-text {
    font-size: 12px;
    margin: 0;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

main h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0;
}

main h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    opacity: 0.8;
    margin: 0;
}

main h5 {
    font-size: 16px;
}

main p {
    font-weight: 700;
    opacity: 0.8;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

section.secondary-section {
    background-color: #7E939D;
}

.caption{
    text-align: center;
    font-size: 12px;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(/images/Museumsinsel_Berlin_Juli_2021_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 180px 10px;
    max-width: 1400px;
    margin: auto;
}

header h1{
    line-height: 1.8;
    font-size: 96px;
    font-weight: 650;
    font-family: var(--header-font);
    margin: 0;
}

header h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.5;
    font-family: var(--header-font);
    margin: 0;
}

header a {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}

footer {
    background-image: linear-gradient(rgba(39, 32, 68, 0.6), rgba(39, 32, 68, 0.6)),
    url(/images/brandenburg_footer.jpeg);
    background-repeat: none;
    background-size: cover;
    color: white;
    font-family: var(--primary-font);
    max-width: 1200px;
    margin: auto;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-col {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.grid-3-col-card {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px
}

.grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
}


.card {
    background: white;  
    margin: 30px 0;
}

.card-header.grid{
    gap: 0;
}

.embed {
    width: 100%;
    aspect-ratio: 1/1;
    padding-top: 10px;
}

.card-body{
    padding: 30px;
}

.card h3 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
}

.card h4 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}

.card p {
    font-size: 16px;
}

.spotify {
    display: none;
}

.card-footer{
    padding: 10px;
    margin: 5px 0;
}

section.gallery {
    background: lightgray;
    max-width: 100%;
}

.gallery h2 {
    font-size: 36px;
}

.gallery h5 {
    font-size: 24px;
}

.gallery-img-vert {
    height: 450px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.gallery-img-hori {
    height: 350px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.gallery-caption {
    font-style: italic;
    font-family: var(--primary-font);
    margin-left: 20px;
    margin-bottom: 15px;
}

.row {
    display: flex;
}

.column-1 {
    flex: 33.33%;
    padding: 5px;
    margin: 10px;
}

.column-2 {
    flex: 50%;
    padding: 5px;
    margin: 10px
}

footer h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--primary-font);
    margin-left: 10px;
}

footer p {
    font-size: 14px;
    
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 10px;
    padding: 0;
    font-size: 16px;
}

footer a {
    color: white;
    opacity: 0.7;
}

footer p {
    margin: 10px;
}

@media (max-width: 900px) {
    header {
        padding: 45px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 25px;
    }

    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }

    .card-header img {
        display: none;
    }

    .spotify {
        display:block;
        padding-top: 15px;
    }

    .embed {
        aspect-ratio: 16/9;
    }

    .gallery-img-vert, .gallery-img-hori {
        width: 95%;
        height: auto;
        margin: auto;
        padding: 10px;
    }

    .gallery-caption {
        text-align: center;
        }

    .row {
        display: grid;
    }

    .column-1, .column-2 {
        grid-template-columns: 1fr;
    }

}