:root {
    --header-font: 'Josefin Slab', serif;
    --primary-font: 'Hedvig Letters Sans',sans-serif;
    --condensed-font: 'Stint Ultra Condensed', serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

.caption{
    text-align: center;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(/images/Museumsinsel_Berlin_Juli_2021_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 180px 0;
    
}

header h1{
    line-height: 1.8;
    font-size: 96px;
    font-weight: 650;
    font-family: var(--header-font);
    margin: 0;
}

header h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.5;
    font-family: var(--header-font);
    margin: 0;
}

header a {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}

p {
    font-family: var(--primary-font);
    font-size: 20px;
}

footer {
    background-image: linear-gradient(rgba(39, 32, 68, 0.6), rgba(39,
        32,
        68,
        0.6)),
    url(/images/brandenburg_footer.jpeg);
    background-repeat: none;
    background-size: cover;
    color: white;
    font-family: var(--primary-font);
    padding: 100px 40px;
}

footer h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
}

footer p {
    margin: 10px;
}

@media (max-width: 900px) {
    header {
        padding: 45px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 25px;
    }
}